@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.react-flow__pane {
  cursor: grab !important;
}

.react-flow__pane.dragging {
  cursor: grabbing !important;
}

.react-flow__node {
  transition: transform 0.2s ease;
}

.react-flow__node:hover {
  transform: scale(1.05);
  z-index: 10;
}

.react-flow__edge-path {
  stroke-width: 2;
  stroke-linecap: round;
  transition: stroke 0.3s ease;
}

.react-flow__edge.selected .react-flow__edge-path {
  stroke: #60a5fa;
}

.react-flow__controls {
  box-shadow: none !important;
  border: 1px solid #374151 !important;
  background: #1f2937 !important;
}

.react-flow__controls button {
  background: #1f2937 !important;
  border-bottom: 1px solid #374151 !important;
}

.react-flow__controls button:hover {
  background: #374151 !important;
}

.react-flow__controls button path {
  fill: #e5e7eb !important;
}

@layer utilities {
    .text-glow {
      text-shadow: 0 0 20px rgba(255, 255, 255, 0.3), 0 0 20px rgba(255, 255, 255, 0.3);
    }
  }

  @layer utilities {
    .scrollbar-custom::-webkit-scrollbar {
      width: 7px;  
    }
  
    .scrollbar-custom::-webkit-scrollbar-thumb {
      background-color: #ffffff88; 
      border-radius: 8px;
    }
  
    .scrollbar-custom::-webkit-scrollbar-track {
      background-color: #f1f1f100; 
      border-radius: 10px;
    }
  }